# Install: Tasks specific to: Debian (os_family or distribution)
#
# Only tasks specific to the platform and its functionality should be included
# here. Tasks in this file will be executed before those defined in
# install/default.yml.

---

- name: "Setup | Install | Debian | Pre-configure packages"
  ansible.builtin.debconf:
    name: "{{ item['package'] }}"
    question: "{{ item['question'] }}"
    value: "{{ item['value'] }}"
    vtype: "{{ item['vtype'] }}"
  loop:
    # Hint for maintainers:
    # debconf-show postfix; apt install -y debconf-utils; debconf-get-selections postfix
    - package: "{{ __run_postfix_debian_debconf_postfixpkgname }}"
      question: "{{ __run_postfix_debian_debconf_postfixpkgname }}/main_mailer_type"
      value: "No configuration"
      vtype: "string"
    - package: "{{ __run_postfix_debian_debconf_postfixpkgname }}"
      question: "{{ __run_postfix_debian_debconf_postfixpkgname }}/mailname"
      value: "{{ __run_postfix_effective_maincf_settings['myhostname'] }}"
      vtype: "string"
  when:
    - __run_postfix_debian_debconf_postfixpkgname is defined
    - (__run_postfix_debian_debconf_postfixpkgname | length) > 0
  notify:
    - "run_postfix: restart postfix.service"
    - "run_postfix: update aliases"
    - "run_postfix: update lookup tables"
