# Handlers: Tasks that are triggered and run only when notified.

---

- name: "Handlers | Update Postfix file-based databases / lookup tables (postmap)"
  # The command or shell module is used here. This approach is justified:
  #
  # - No built-in Ansible module provides a direct way to interact with the
  #   used command.
  # - Inline templating allows for safe and efficient parameter handling,
  #   avoiding the need for multiple additional tasks with little to no benefit.
  #
  # Notes on the command or script itself:
  #
  # See the official documentation for a explanation of the parameters:
  # https://www.postfix.org/postmap.1.html
  ansible.builtin.command:
    argv:
      - "{{ __run_postfix_postmap_exec_path }}"
      - "{{ item }}"
  # Using an external template file because:
  # 1. Single-line inline templates are hard to read and maintain
  # 2. Inline multiline Jinja2 with block scalars (>-) are no alternative as
  #    this converts dictionaries to strings objects, needing additional care.
  loop: "{{ lookup('template', 'helper_postmap_paths.j2') }}"
  changed_when:
    # The command does not output anything useful to detect changes and rewrites
    # the .db file in any successful case, even if the input data was not
    # changed, so there is a change in any case. This is no idempotence problem
    # as this handler should only get triggered when Postfix configuration has
    # actually changed.
    - __run_postfix_postmap_result['rc'] == 0
  register: __run_postfix_postmap_result
  listen: "run_postfix: update lookup tables"


- name: "Handlers | Update aliases for smtpd (postalias)"
  # The command or shell module is used here. This approach is justified:
  #
  # - No built-in Ansible module provides a direct way to interact with the
  #   used command.
  # - Inline templating allows for safe and efficient parameter handling,
  #   avoiding the need for multiple additional tasks with little to no benefit.
  #
  # Notes on the command or script itself:
  #
  # See the official documentation for a explanation of the parameters:
  # https://www.postfix.org/aliases.5.html
  ansible.builtin.command:
    # The "newaliases" executable usually only supports "hash:" databases (and
    # therefore does not work for modern configurations), so use the "postalias"
    # command instead.
    argv:
      - "{{ __run_postfix_postalias_exec_path }}"
      - "{{ item }}"
  # Using an external template file because:
  # 1. Single-line inline templates are hard to read and maintain
  # 2. Inline multiline Jinja2 with block scalars (>-) are no alternative as
  #    this converts dictionaries to strings objects, needing additional care.
  loop: "{{ lookup('template', 'helper_postalias_paths.j2') }}"
  changed_when:
    # The command does not output anything useful to detect changes and rewrites
    # the .db file in any successful case, even if the input data was not
    # changed, so there is a change in any case. This is no idempotence problem
    # as this handler should only get triggered when Postfix configuration has
    # actually changed.
    - __run_postfix_postalias_result['rc'] == 0
  register: __run_postfix_postalias_result
  listen: "run_postfix: update aliases"


- name: "Handlers | postfix.service restart"
  ansible.builtin.systemd_service:
    name: "{{ __run_postfix_postfix_servicename }}"
    state: "restarted"
  listen: "run_postfix: restart postfix.service"
  when:
    - run_postfix_service_state != 'unmanaged'


- name: "Handlers | postfix.service reload"
  ansible.builtin.systemd_service:
    name: "{{ __run_postfix_postfix_servicename }}"
    state: "reloaded"
  listen: "run_postfix: reload postfix.service"
  when:
    - run_postfix_service_state != 'unmanaged'
