# {{ ansible_managed }}

# This file defines address rules used by Postfix to rewrite recipient email
# addresses. "canonical" is more powerful than "virtual":
#
# - Can apply rules for recipient (this file) or sender addresses (see
#   {{ __run_postfix_table_canonical_sender_file }}).
# - Replacements not only in the SMTP envelope, but also in the mail headers.
#
# The format here is a list of original recipient followed by their replacement
# rules. See the following resources for more information:
#
# - https://www.postfix.org/canonical.5.html
# - https://www.postfix.org/postconf.5.html#sender_canonical_maps

{% for key, value in __run_postfix_merged_canonical_recipient.items() %}
{{ key }}		{{ value }}
{% endfor %}
