# {{ ansible_managed }}

# This file defines the list of relay domains for which Postfix will accept
# mail for relaying to their final destinations.
#
# Relay domains are domains that Postfix will relay mail for, but for which
# Postfix is not the final destination. This is also common on the same host
# (e.g. to put Postfix in front of Dovecot which is the final destination then).
# By default, Postfix refuses to relay mail to domains that aren't listed
# in this file. This helps prevent the mail server from being used as an
# open relay.
#
{% if run_postfix_handle_transport_maps %}
# The transports are defined in the following file:
# {{ __run_postfix_transportmaps_file }}
#
{% endif %}
#
# See the following resources for more information:
#
# - https://www.postfix.org/postconf.5.html#relay_domains
# - https://www.postfix.org/SMTPD_ACCESS_README.html

{% for domain in __run_postfix_merged_relay_domains %}
{{ domain }}    relay
{% endfor %}
