# {{ ansible_managed }}

# This file defines relocated address mappings for Postfix.
#
# It is used to tell senders that a recipient's address has changed. If
# someone tries to send email to an old address listed here, Postfix
# will generate a non-delivery report (NDR) with the new address ("user has
# moved to <new_location>" bounce messages).
#
# See the following documentation for more details:
# - https://www.postfix.org/relocated.5.html
# - https://www.postfix.org/postconf.5.html#relocated_maps

{% for key, value in __run_postfix_merged_relocated_maps.items() %}
{{ key }}    {{ value }}
{% endfor %}
