# {{ ansible_managed }}

# This file defines SMTP SASL authentication credentials for Postfix.
#
# It is used to authenticate Postfix when sending emails through a relay
# server that requires authentication. Each entry maps a remote SMTP server
# (and optionally a port) to credentails (username:password).
#
# If you specify the "[" and "]" in the relayhost destination, then
# you must use the same form here. Use smtp_sasl_password_result_delimiter
# (default ":") to specify an alternative separator between username and
# password.
#
# See the following documentation for more details:
# - https://www.postfix.org/SASL_README.html#client_sasl
# - https://www.postfix.org/postconf.5.html#smtp_sasl_password_maps

{% for key, value in __run_postfix_merged_relocated_maps.items() %}
{{ key }}	{{ value }}
{% endfor %}